<% if current_user %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    <h1> Hi, <%= current_user.first_name %> </h1>
<% else %>
    <%= link_to "Register", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
<% end %>
<hr>

<p>Find me in app/views/pages/home.html.erb</p>

<h1>Blog Posts</h1>
<%= @blogs.inspect %>

<h1>Skills</h1>
<%= @skills.inspect %>
